<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>新規投稿</h2>
    </div>
  </div>
</div>

<div class="container text-center">
  <%= form_with model: @review, url: reviews_path, method: :post, local:true do |f| %>
   <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">ゲーム名</label>
        <%= f.text_field :game_tittle %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">タイトル</label>
        <%= f.text_field :tittle %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">ジャンル</label>
        <%= f.select :genre, Review.genres_i18n.keys.map{|k| [I18n.t("enum.review.genre.#{k}"), k]}, include_blank: "選択して下さい" %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">プレイ時間</label>
        <%= f.select :play_time, [["0~1時間","0~1時間"],["1~10時間","1~10時間"],["10~20時間","10~20時間"],["20~50時間","20~50時間"],["50~100時間","50~100時間"],["100時間~","100時間~"]], include_blank: "選択してください" %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">価格</label>
        <%= f.select :price, [["無料","無料"],["~1000円","1000円"],["1000~2000円","1000~2000円"],["2000~4000円","2000~4000円"],["4000~6000円","4000~6000円"],["6000円~","6000円~"]], include_blank: "選択してください" %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">プラットフォーム</label>
        <%= f.select :plat_form, [["PS5", "PS5"], ["PS4", "PS4"], ["Switch", "Switch"], ["XBox", "XBox"], ["PC", "PC"]], include_blank: "選択して下さい" %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2" id="star">
      <div class="form-inline">
      <%= f.label :star, "星評価：" %>
      <%= f.hidden_field :star, id: :review_star %>
      <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[star]',/*   # starカラムへの保存 */
          half: true,//   # 星半分の入力
        });
      </script>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">レビュー詳細</label>
        <%= f.text_area :introduction %>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <%= f.submit "新規投稿", class: "btn btn-success btn-lg" %>
    </div>

  <% end %>
</div>
