<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>新規投稿</h2>
    </div>
  </div>
</div>

<div class="container text-center">
  <%= form_with model: @review, url: reviews_path, method: :post, local:true do |f| %>
    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">タイトル</label>
        <%= f.text_field :tittle %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">ジャンル</label>
        <%= f.select :genre, [["アクション", "アクション"], ["RPG", "RPG"], ["シミュレーション", "シミュレーション"], ["サウンドノベル", "サウンドノベル"]], include_blank: "選択して下さい" %>
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">プレイ時間</label>
        <%= f.text_field :play_time %>時間
      </div>
    </div>

    <div class="form-group col-md-9 col-md-offset-2">
      <div class="form-inline">
        <label class="col-sm-3">レビュー詳細</label>
        <%= f.text_area :introduction %>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <%= f.submit "新規投稿", class: "btn btn-success btn-lg" %>
    </div>

  <% end %>
</div>
