<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3>レビュー詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-offset-3">
      <dl>
        <dt>ゲーム名</dt><dd><%= @review.game_tittle %></dd><br>
        <dt>タイトル</dt><dd><%= @review.tittle %></dd><br>
        <dt>ジャンル</dt><dd><%= @review.genre %></dd><br>
        <dt>プレイ時間</dt><dd><%= @review.play_time %></dd><br>
        <dt>価格</dt><dd><%= @review.price %></dd><br>
        <dt>プラットフォーム</dt><dd><%= @review.plat_form %></dd><br>
        <dt>評価</dt>
        <dd>
          <div class="relative-review-star">
              <span id="star-rate-<%= @review.id %>"></span>
              <script>
              $('#star-rate-<%= @review.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,   //# 星半分表示
                readOnly: true,   //# 読み取り専用
                score: <%= @review.star %>,   //# 星評価の表示
              });
              </script>
            <%= @review.star %>
          </div>
        </dd>
        <dt>レビュー</dt><dd><%= @review.introduction %></dd><br>
      </dl>
    </div>
  </div>

  <div class="d-grid gap-2 col-5 mx-auto">
    <%= link_to "編集する", edit_review_path(@review), class: "btn btn-success btn-lg" %>
  </div>

  <div class="d-grid gap-2 col-5 mx-auto">
    <%= link_to "削除する", review_path(@review), method: :delete ,class: "btn btn-danger btn-lg" %>
  </div>

</div>